body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin:5% auto;
    padding:0;
    width: 90%;
    min-height: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;

} 

#imagem{

    margin: auto;
    width: 30%;
    text-align: center;
}

#imagem img{
    box-sizing: content-box;
    display: block;
    margin-left: 20% auto;
    margin-right: 20% auto;
    text-align: center;
    padding: none;
    width: 100%;
    border: 3px solid rgb(243, 255, 79);
    max-width: 100%;
}

form{
    margin-left: 100px;
    margin-top: 50px;
}

input, select, button {
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.5em;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], input[type="tel"] {
   
    width: 1000px;
    height: 20px;
    padding: 0.2em;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;

}

#data{
    width: 490px;
    height: 20px;
    padding: 0.2em;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

select{
    width: 240px;
    height: 28px;
    padding: 0.2em;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
#mvel{
    width: 230px;
    height: 21px;
}

#sel{
    display: flex;
}

#sel div{
    margin-right: 15px;
}

.campo input:focus, .campo select:focus{
    background: rgb(139, 138, 138);
}

#cores{
    display: flex;
}
#cores div{
    margin-right: 15px;
}

#tabela{
    text-align: center;
    margin-top: 1em;
    margin-right: auto;
}

.quant{
    width: 50px;
    border: 0;
}
.valor, .total{
    width: 25px;
    border: 0;
}
.discr{
    width: 900px;
    border: 0;
}

#doutro input{
    display: block;
    height: 21px;
    padding: 0.2em;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);

}
#cores input:focus, #cores select:focus{
    background: rgb(139, 138, 138);
}


.botao{
    display: flex;
    width: 100px;
    font-size: 1.2em;
    color: white;
    background-color: blueviolet;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% -50%);
}

.botao:hover {
    background: rgb(204, 204, 204);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}